/* GENERICS */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}
/* UTILITIES */

.d-flex{
    display: flex;
}



/* HEADER */
header{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: end;
    align-items: center;
    position: fixed;
}

header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    height: 40px;
    border-radius: 40px;
    margin-right: 5px;
}


/* MAIN */
main{
}

/* NAV SIDE-BAR */
.nav-bar{
    position: relative;
}


div .side-bar{
    flex-direction: column;
    justify-content: space-between;
    position: absolute; 
    width: 50px;
    height: calc(100vh - 100px) ;

}

.nav-bar div figure>img{
   padding: 5px 10px;
}

.bottom-menu{
    padding: 0 5px;
}

.profile{
    background-color: darkgrey;
    border: 1px solid;
    border-radius: 50px;
}





/* PLAYER / FOOTER*/

footer{
    position: fixed;
    height: 100px;
    width: 100%;
}

.song-img{
    padding: 30px 10px
}

footer div a{
    text-decoration: none;
    color: darkgrey ;
}

footer ul li{
    list-style-type: none;
}

.song-links{
    align-items: center;
    
}
.song-links ul{
    display: flex;
    flex-direction:column;
}

.song-links ul li i{
    margin-left: 15px;
    font-size: 15px;
    color:darkgrey;
}

.song-links h4{
    color: white;
}

/* BG-COLORS */

.bg-black{
   background-color: black;
}

.bg-dark-blue{
    background-color: #141922;
    height: calc(100vh - 100px);
   
}

.bg-gray{
    background-color: #282828;
    
}



  
